@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./keyframes.css";


html {
  /* phone: 0~480px */
  @media (max-width: 480px) {
    font-size: 12px;
  }

  /* laptop: 481~1280px */
  @media (min-width: 481px) and (max-width: 1280px) {
    font-size: 14px;
  }

  /* desktop: 1280px 이상 */
  @media (min-width: 1280px) {
    font-size: 16px;
  }
}
 
/* 아래는 다크모드 만들 때 매우 좋습니다. */
@layer base {
  :root {
    --background: #eff6ff;
    --foreground: #010816;

    --card: #ffffff;
    --card-foreground: #010816;

    --popover: #ffffff;
    --popover-foreground: #010816;

    --primary: #0f172a;
    --primary-foreground: #f7f9fb;

    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #f1f5f9;
    --accent-foreground: #0f172a;

    --destructive: #ee4444;
    --destructive-foreground: #f7f9fb;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #93c5fd;

    --radius: 0.5rem;
  }

  .dark {
    --background: #010816;
    --foreground: #f7f9fb;

    --card: #010816;
    --card-foreground: #f7f9fb;

    --popover: #010816;
    --popover-foreground: #f7f9fb;

    --primary: #f7f9fb;
    --primary-foreground: #0f172a;

    --secondary: #1e293b;
    --secondary-foreground: #f7f9fb;

    --muted: #1e293b;
    --muted-foreground: #94a3b7;

    --accent: #1e293b;
    --accent-foreground: #f7f9fb;

    --destructive: #7f1d1d;
    --destructive-foreground: #f7f9fb;

    --border: #1e293b;
    --input: #1e293b;
    --ring: #cad4e0;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}